@import "../../../scss/_variables";

#overview {
  #configuration {
    z-index: 100 !important;
    padding: 20px;
    background-color: $primary-gold;
    position: relative;
  }

  select {
    z-index: 10000 !important;
  }
}